<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property</title>
</head>
<body>



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Your Properties</h1>
    </div>
</div>

<div class="row">

        <div class="col-lg-9">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#addproperty" target="_self" ng-show="vm.propertyid">Property Address</a>
                            <a data-toggle="collapse" data-parent="#accordion" href="#addproperty" target="_self" ng-hide="vm.propertyid">Add New Property</a>
                        </h4>
                    </div>
                    <div id="addproperty" class="panel-collapse collapse in">
                        <form role="form" name="form" ng-submit="form.$valid && vm.submit()" novalidate>
                            <div class="panel-body">
                                <div class="invisible"><input type="hidden" name="propertyid" class="form-control" ng-model="vm.propertyid"/></div>
                                <div class="invisible"><input type="hidden" name="canonicalid" class="form-control" ng-model="vm.canonicalid"/></div>
                                <div class="form-group">
                                    <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
                                    <div ng-if="vm.alertmessage" class="alert alert-success">{{vm.alertmessage}}</div>
                                </div>
                                <div class="form-group row" ng-show="isStaff()">
                                    <div class="col-lg-1">
                                        <label for="property">Search</label>
                                    </div>
                                    <div class="col-xs-9" ng-class="{ 'has-error': form.$submitted && form.property.$invalid }">
                                        <div class="input-group">
                                            <input type="text" name="property" ng-model="vm.property" ng-keyup="complete(vm.property)" class="form-control input-sm"/>
                                            <span class="input-group-btn">
                                                <button ng-click="populateFields()" type="button" class="btn btn-sm btn-primary btn-block"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                        <span>
                                            <ul class="list-group" style="position: absolute; z-index: 999; min-width: 88%">
                                                <li class="list-group-item" ng-repeat="address in addresslist" ng-click="fillTextbox(address)">{{address}}</li>
                                            </ul>
                                            <div ng-if="vm.searcherror" class="alert alert-danger">{{vm.searcherror}}</div>
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <div class="invisible"><input type="hidden" name="latitude" class="form-control" ng-model="vm.latitude"/></div>
                                    <div class="invisible"><input type="hidden" name="longitude" class="form-control" ng-model="vm.longitude"/></div>
                                    <div class="invisible"><input type="hidden" name="unit_type" class="form-control" ng-model="vm.unit_type"/></div>
                                    <div class="invisible"><input type="hidden" name="mesh_block" class="form-control" ng-model="vm.mesh_block"/></div>

                                    <div class="col-md-10 col-md-offset-1" ng-show="vm.mapurl">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" frameborder="0" style="border:0" ng-src="{{vm.mapurl}}" allowfullscreen></iframe>
                                        </div>
                                        <hr class="hr-none">
                                    </div>

                                    <div class="col-xs-5" ng-class="{ 'has-error': form.$submitted && form.addressone.$invalid }">
                                        <label for="addressone">Address 1</label>
                                        <input type="text" name="addressone" class="form-control" ng-model="vm.addressone" required ng-disabled="true"/>
                                        <div ng-messages="form.$submitted && form.addressone.$error" class="help-block">
                                            <div ng-message="required">Address 1 is required</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5" ng-class="{ 'has-error': form.$submitted && form.addresstwo.$invalid }">
                                        <label for="addresstwo">Address 2</label>
                                        <input type="text" name="address2" class="form-control" ng-model="vm.addresstwo" ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.suburb.$invalid }">
                                        <label for="suburb">Suburb</label>
                                        <input type="text" name="suburb" class="form-control" ng-model="vm.suburb" required ng-disabled="true"/>
                                        <div ng-messages="form.$submitted && form.suburb.$error" class="help-block">
                                            <div ng-message="required">Suburb is required</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3" ng-class="{ 'has-error': form.$submitted && form.state.$invalid }">
                                        <label for="state">State</label>
                                        <input type="text" name="state" class="form-control" ng-model="vm.state" required ng-disabled="true"/>
                                        <div ng-messages="form.$submitted && form.state.$error" class="help-block">
                                            <div ng-message="required">State 1 is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.country.$invalid }">
                                        <label for="country">Country</label>
                                        <input type="text" name="country" class="form-control" ng-model="vm.country" required ng-disabled="true"/>
                                        <div ng-messages="form.$submitted && form.country.$error" class="help-block">
                                            <div ng-message="required">Country is required</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3" ng-class="{ 'has-error': form.$submitted && form.postcode.$invalid }">
                                        <label for="postcode">Postcode</label>
                                        <input type="text" name="postcode" class="form-control" ng-model="vm.postcode" required ng-disabled="true"/>
                                        <div ng-messages="form.$submitted && form.postcode.$error" class="help-block">
                                            <div ng-message="required">Postcode is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.propertytype.$invalid }">
                                        <label for="propertytype">Property Type</label>
                                        <ui-select name="propertytype" ng-model="vm.propertytype" ng-disabled="isCustomer()" title="Property Type" required>
                                            <ui-select-match>
                                                <span ng-bind="vm.propertytype.propertytypename"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="p in (vm.propertytypes | filter: $select.search) track by p.propertytypeid">
                                                <span ng-bind="p.propertytypename"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-messages="form.$submitted && form.propertytype.$error" class="help-block">
                                            <div ng-message="required">Property type is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.ownername.$invalid }">
                                        <label for="ownername">Owner Name</label>
                                        <input type="text" name="address1" class="form-control" ng-model="vm.ownername" ng-disabled="isCustomer()"/>
                                    </div>
                                    <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.contact.$invalid }">
                                        <label for="contact">Contact</label>
                                        <input type="text" name="contact" class="form-control" ng-model="vm.contact" ng-disabled="isCustomer()" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/"/>
                                        <div ng-messages="form.$submitted && form.contact.$error" class="help-block">
                                            <div ng-message="pattern">Invalid mobile number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="isStaff()">
                                    <div class="btn-toolbar">
                                        <button ng-disabled="vm.loading" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>
                                        <button type="button" ng-disabled="vm.loading" class="btn btn-danger btn-circle btn-lg" ng-click="hideForm()"><i class="fa fa-times"></i></button>
                                        <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>



</div>
<div class="row" ng-show="vm.propertyid">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Requests related to this Property
                </h4>
            </div>
            <div class="panel-body">
                <table width="100%" wt-responsive-table class="table table-striped table-hover" ng-table="vm.tableParams" show-filter="true">
                    <tr class="odd gradeX" ng-repeat="c in $data">
                        <td data-title="'Request ID'" sortable="'claimid'" class="text-center" filter="{'claimid': 'text'}"><a href="#!/request/manage/{{c.claimid}}">{{ c.claimid }}</a></td>
                        <td data-title="'Summary'" filter="{'summary': 'text'}">{{ c.summary }}</td>
                        <td data-title="'Claim Type'">{{ c.claimtypename }}</td>
                        <td data-title="'Submitted Date'" sortable="'submitteddate'">{{ c.submitteddate | date: "medium"}}</td>
                    </tr>
                    <tr class="odd gradeX" ng-show="$data.length == 0">
                        <td class="text-center" colspan="9">No Results</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>