<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Your Profile</h1>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" name="form" ng-submit="form.$valid && vm.submit()" novalidate>
                    <div class="invisible"><input type="hidden" name="customerid" class="form-control" ng-model="vm.customerid"/></div>
                    <div class="form-group row" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
                        <div class="col-xs-4">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control input-sm" ng-model="vm.username" required ng-disabled="true"/>
                            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                                <div ng-message="required">Username is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6" ng-class="{ 'has-error': form.$submitted && form.custname.$invalid }">
                            <label for="firstname">Customer name</label>
                            <input type="text" name="custname" class="form-control" ng-model="vm.custname" required ng-disabled="true"/>
                            <div ng-messages="form.$submitted && form.custname.$error" class="help-block">
                                <div ng-message="required">Customer name is required</div>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.custtype.$invalid }">
                            <label for="custtype">Customer Type</label>
                            <ui-select name="custtype" ng-model="vm.custtype" ng-disabled="vm.disabled" title="Customer Type" required>
                                <ui-select-match>
                                    <span ng-bind="vm.custtype.custtypename"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="c in (vm.custtypes | filter: $select.search) track by c.custtypeid">
                                    <span ng-bind="c.custtypename"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-messages="form.$submitted && form.custtype.$error" class="help-block">
                                <div ng-message="required">Customer type is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" ng-class="{ 'has-error': form.$submitted && form.property.$invalid }">
                            <label for="address">Address</label>

                            <input type="text" name="property" ng-model="vm.property" ng-keyup="complete(vm.property)" class="form-control" required/>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="address in addresslist" ng-click="fillTextbox(address)">{{address}}</li>
                            </ul>
                            <div ng-messages="form.$submitted && form.property.$error" class="help-block">
                                <div ng-message="required">Address is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">
                            <button ng-disabled="vm.loading" class="btn btn-lg btn-success btn-block">Save</button>
                            <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                    </div>
                    <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>