<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property</title>
</head>
<body>



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Your Customer</h1>
    </div>
</div>

<div class="row">

        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a ng-show="vm.customerid">Customer Detail</a>
                        <a ng-hide="vm.customerid">Add New Customer</a>
                    </h4>
                </div>
                <div class="panel-body">
                    <form role="form" name="form" ng-submit="form.$valid && vm.submit()" novalidate>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
                                <div ng-if="vm.alert" class="alert alert-success">{{vm.alert}}</div>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'has-error': form.$submitted && form.customerusername.$invalid }">
                            <div class="col-xs-4">
                                <label for="username">Username</label>
                                <input type="text" name="customerusername" class="form-control input-sm" ng-model="vm.customerusername" maxlength="16" ng-disabled="vm.customerid" required/>
                                <div ng-messages="form.$submitted && form.customerusername.$error" class="help-block">
                                    <div ng-message="required">Username is required</div>
                                </div>
                            </div>
                            <div style="display: inline-block" ng-show="vm.username != vm.staffusername">
                                <label for="resetButton">&nbsp;</label>
                                <button class="btn btn-danger btn-block btn-outline" name="resetButton" type="button" ng-click="resetPassword()" ng-disabled="vm.resetloading">Reset Password</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.firstname.$invalid }">
                                <label for="firstname">First name</label>
                                <input type="text" name="firstname" class="form-control" ng-model="vm.firstname" maxlength="20" required />
                                <div ng-messages="form.$submitted && form.firstname.$error" class="help-block">
                                    <div ng-message="required">First name is required</div>
                                </div>
                            </div>
                            <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.lastname.$invalid }">
                                <label for="lastname">Last name</label>
                                <input type="text" name="lastname" class="form-control" ng-model="vm.lastname" maxlength="20" required />
                                <div ng-messages="form.$submitted && form.lastname.$error" class="help-block">
                                    <div ng-message="required">Last name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4" ng-class="{ 'has-error': form.$submitted && form.custtype.$invalid }">
                                <label for="custtype">Customer Type</label>
                                <ui-select name="custtype" ng-model="vm.custtype" title="Customer Type" required>
                                    <ui-select-match>
                                        <span ng-bind="vm.custtype.custtypename"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="c in (vm.custtypes | filter: $select.search) track by c.custtypeid">
                                        <span ng-bind="c.custtypename"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-messages="form.$submitted && form.custtype.$error" class="help-block">
                                    <div ng-message="required">Customer type is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-10" ng-class="{ 'has-error': form.$submitted && form.property.$invalid }">
                                <label for="address">Address</label>

                                <input type="text" name="property" ng-model="vm.property" ng-keyup="complete(vm.property)" class="form-control"/>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="address in addresslist" ng-click="fillTextbox(address)">{{address}}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-10" ng-class="{ 'has-error': form.$submitted && form.mobile.$invalid }">
                                <label for="mobile">Mobile Number</label>
                                <div class="input-group">
                                    <span class="input-group-addon">+61</span>
                                    <input type="text" name="mobile" class="form-control" ng-model="vm.mobile" ng-pattern="/^\d{9}$/" />
                                </div>
                                <div ng-messages="form.$submitted && form.mobile.$error" class="help-block">
                                    <div ng-message="pattern">Mobile number is invalid</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-10" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" class="form-control" ng-model="vm.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required/>
                                <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                                    <div ng-message="required">Email address is required</div>
                                    <div ng-message="pattern">Email address is invalid</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="btn-toolbar">
                                <button ng-disabled="vm.loading" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>
                                <button type="button" ng-disabled="vm.loading" class="btn btn-danger btn-circle btn-lg" ng-click="hideForm()"><i class="fa fa-times"></i></button>
                                <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3" ng-show="vm.customerusername">
            <div class="form-group row">
                <div class="col-xs-12">
                    <label for="userstatus">User Status</label>
                    <ui-select name="userstatus" ng-model="vm.userstatus" title="User Status" required>
                        <ui-select-match>
                            <span ng-bind="vm.userstatus.userstatusname"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="c in (vm.userstatuses | filter: $select.search) track by c.userstatusid">
                            <span ng-bind="c.userstatusname"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="button" ng-click="changeUserStatus()" ng-disabled="vm.statusloading">Change</button>
            </div>

            <div class="form-group">
                <div ng-if="vm.statuserror" class="alert alert-danger">{{vm.statuserror}}</div>
                <div ng-if="vm.statusalert" class="alert alert-success">{{vm.statusalert}}</div>
            </div>
        </div>
</div>
</body>
</html>