<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Requests</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a ui-sref="managerequest">
                    <a href="#!/request/manage/"><button type="button" class="btn btn-default"><i class="fa fa-plus"></i> New Request</button></a>
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" ng-table="vm.tableParams" show-filter="true">
                        <tr class="odd gradeX" ng-repeat="c in $data">
                            <td data-title="'No'" sortable="'claimid'" class="text-center"><a href="" ng-click="viewClaim(c.claimid)">{{ c.claimid }}</a></td>
                            <td data-title="'Summary'">{{ c.summary }}</td>
                            <td data-title="'Address'" >{{ c.property.address1 }} {{ c.property.address2 }}</td>
                            <td data-title="'Suburb'" filter="{'property.suburb': 'text'}">{{ c.property.suburb }}</td>
                            <td data-title="'State'" filter="{'property.state': 'text'}">{{ c.property.state }}</td>
                            <td data-title="'Type'" filter="{'claimtype.typeid': 'select'}" filter-data="getCTypes()">{{ c.claimtype.name }}</td>
                            <td data-title="'Submitted Date'" sortable="'submitteddate'">{{ c.submitteddate | date: "medium" }}</td>
                            <td data-title="'Submitted User'" ng-if="isStaff()" filter="{'submitteduser': 'text'}">{{ c.submitteduser }}</td>
                            <td data-title="'Status'" filter="{'status.statusid': 'select'}" filter-data="getSTypes()">{{ c.status.statusname }}</td>
                        </tr>
                        <tr class="odd gradeX" ng-show="$data.length == 0">
                            <td class="text-center" colspan="9">No Results</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>