<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-dashboard fa-fw"></i> Your Activity
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4" ng-hide="isAdmin()">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-briefcase fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{myrequests}}</div>
                                            <div>Requests</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/request">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-hide="isAdmin()">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-calendar fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{myinspections}}</div>
                                            <div>Inspections</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/request">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-hide="isAdmin()">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-home fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{myproperties}}</div>
                                            <div>Properties</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/property">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-show="isAdmin()">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-briefcase fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{allrequests}}</div>
                                            <div>All Requests</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/request">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-show="isStaff()">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-folder-open fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{openrequests}}</div>
                                            <div>Open Requests</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/request">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-show="isAdmin()">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-home fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{allproperties}}</div>
                                            <div>All Properties</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/property">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-show="isStaff() && !isApprover()">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-legal fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{myapprovals}}</div>
                                            <div>For Approvals</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/request">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4" ng-show="isApprover()">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-legal fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge-md">{{allapprovals}}</div>
                                            <div>All Approvals</div>
                                        </div>
                                    </div>

                                </div>
                                <a href="#!/request">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-info"><i class="fa fa-info-circle fa-fw"></i>Request Activity</h4>
                            <span>
                                <table width="100%" class="table table-striped table-hover">
                                    <tr class="odd gradeX" ng-show="!notificationlist">
                                        <td class="text-center" colspan="9">No Notification</td>
                                    </tr>
                                    <tr class="odd gradeX" ng-repeat="c in notificationlist">
                                        <td class="text-center" colspan="9"><i class="fa fa-calendar"></i> {{c.inspectiondate | date: "medium"}}<br><a href="#!/request/manage/{{c.claimid}}">{{c.description}}</a></td>
                                    </tr>
                                </table>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" ng-show="isStaff()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-8">
                            <h4 class="panel-title">
                                Calendar
                            </h4>
                        </div>
                    </div>
                </div>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-hover">
                    <tr class="odd gradeX" ng-show="!calendarlist">
                        <td class="text-center" colspan="9">No Results</td>
                    </tr>
                    <tr class="odd gradeX" ng-repeat="c in calendarlist">
                        <td class="text-center" colspan="9"><i class="fa fa-calendar"></i> {{c.inspectiondate | date: "medium"}}<br><a ui-sref="managerequest({claimid: c.claimid})">{{c.description}}</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>